:root {
  --white: #FFF;
  --white2: #FAFAFA;
  --black: #111;
  --black2: #333;
  --light-gray: #EFEFEF;
  --gray: #BFBFBF;
  --dark-gray: #9F9F9F;
  --theme-color: #9898FF;
  --text-color: var(--black);
  --text-color-reverse: var(--white);
  --background-color: var(--white);
  --background-color-second: var(--white2);
  --background-color-third: var(--light-gray);
  --mask-background: rgba(0, 0, 0, 0.35);
  --border-color: var(--gray);
  --border-radius: 1rem;
  --nav-height: 50px;

  font-family: "Electrolize";
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  appearance: none;
  line-height: 1.25;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 1rem;
  text-indent: 0;
  color: var(--text-color);
  background: var(--background-color);
}

@media (prefers-color-scheme:dark) {
  body {
    --text-color: var(--white2);
    --text-color-reverse: var(--black);
    --background-color: var(--black);
    --background-color-second: var(--black2);
    --background-color-third: var(--black2);
    --mask-background: rgba(0, 0, 0, 0.65);
    --border-color: var(--dark-gray);
  }
}

input {
  font-family: "Electrolize";
}

h1.ul,
h2.ul,
h3.ul,
h4.ul,
h5.ul,
h6.ul {
  padding-bottom: 8px;
}

h1.ul::after,
h2.ul::after,
h3.ul::after,
h4.ul::after,
h5.ul::after,
h6.ul::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background: var(--border-color);
}

h1.ul::after {
  top: 0.55rem;
}

h2.ul::after {
  top: 0.5rem;
}

h3.ul::after {
  top: 0.45rem;
}

h4.ul::after {
  top: 0.4rem;
}

h5.ul::after {
  top: 0.35rem;
}

h6.ul::after {
  top: 0.3rem;
}

p {
  margin: 0.65rem 0;
}

a {
  display: inline-block;
  color: inherit;
  transition: color 0.25s;
}

a:hover {
  color: var(--theme-color);
}

a[href^="http"]:empty::before {
  content: "查看链接";
}

hr {
  height: 2px;
  margin: 0.65rem 0;
  background: var(--border-color);
  border: none;
}

.warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
  z-index: 9999;
}

.warning p {
  max-width: 75vw;
}

.warning.hidden {
  display: none;
}

.loading {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid var(--border-color);
  border-top: 0.2rem solid var(--text-color);
  border-radius: 50%;
  animation: rotate-360 0.75s linear infinite;
}

.loading.sm {
  width: 2rem;
  height: 2rem;
  border-width: 0.2rem;
}

.loading.md {
  width: 3.5rem;
  height: 3.5rem;
  border-width: 0.35rem;
}

.loading.lg {
  width: 5rem;
  height: 5rem;
  border-width: 0.5rem;
}

.loading.ease {
  animation-timing-function: ease;
}

@keyframes rotate-360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.progress {
  --progress: 0%;

  overflow: hidden;
  position: relative;
  width: 50%;
  height: 0.3rem;
  background: var(--background-color-third);
}

.progress::before {
  content: "";
  position: absolute;
  top: 0;
  right: calc(100% - var(--progress));
  width: 100%;
  height: 100%;
  background: var(--text-color);
}

.button {
  flex: 1;
  display: inline-block;
  padding: 0.65rem 0;
  position: relative;
  color: var(--text-color);
  background: var(--background-color-second);
  border: 1px solid var(--border-color);
  text-align: center;
  font-size: 0.9em;
  transition: filter 0.2s, transform 0.2s;
  cursor: pointer;
  user-select: none;
}

.button.small {
  flex: initial;
  padding: 0.3rem 0.65rem;
  line-height: 1.5em;
}

.button:active {
  filter: brightness(90%);
  transform: scale(90%);
}

.button.disable {
  pointer-events: none;
}

.button:not(.disable) {
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  background: transparent;
  transition: background 0.2s;
  pointer-events: none;
}

.button.disable::before {
  background: rgba(255, 255, 255, 0.4);
}

*[class^="ti-"] {
  vertical-align: -0.035em;
}

.button *[class^="ti-"] {
  vertical-align: middle;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0.65rem 1rem;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

main>* {
  margin: 0.65rem 0;
  border: 1px solid transparent;
}

@media (min-width: 576px) {
  main {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  main {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  main {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  main {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  main {
    max-width: 1320px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row.hidden {
  display: none;
}

.row .button:not(:last-child) {
  margin-right: 0.8rem;
}

/*----------------*/